@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
	:root {
		/* biome-ignore lint: No fallback needed */
		font-family: InterVariable;
	}
}

:root {
	background-color: #ef4444;
	transition: 0.2s ease-in;
}
